@charset "gb18030";
/* CSS Document */

#nav-under{
	width:50px;
	margin-left:425px;
	}
#photo-top{
	background-image:url(../images/bg2.jpg);
	height:60px;
	padding-left:40px;
	padding-top:10px;
}
#letsgo{
	padding:10px;
	height:40px;
}
#topic{
	margin-left:20px;
}

#blog-main{
	padding:0 30px 10px 30px;
	width:60%;
	float:left;
	}
#blog-panel{
	width:240px;
	padding:10px;
	float:right;
	
	}
#search{
	background-image:url(../images/search-bg.gif);
	}
#search  input{
	height:25px;
	margin-left:20px;
	margin-top:3px;
	vertical-align:bottom;
	}
#archive,#catalog,#style,#meta{
	background-color:#FFFBF0;
	}
#archive-head,#catalog-head,#style-head,#meta-head{
	margin-top:20px;
	height:32px;
	background-image:url(../images/blog-list-headerbg.gif);

	}
#archive-head  h3,#catalog-head  h3,#style-head  h3,#meta-head  h3{
	padding-top:10px;
	padding-left:20px;
	font-weight:600;
}
#archive ul,#catalog  ul,#style  ul,#meta  ul{
	padding-left:0;
	color:#a6b91c;
	padding-bottom:15px;
	}

/*-----------class begin ------------*/
.img-left{
	float:left;
	margin:0 20px 10px 0;
	clear:left;
}


